.gallery {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
}

@media screen and (max-width: 320px) {
  .gallery {
    padding: 0 16px;
  }
}