.offer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1184px;  
  max-height: 740px;
  position: relative;
  padding: 243px 0;
  z-index: 0;
  
}

.offer::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    background-image: url('../../images/bg_offer.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}


.offer:hover:before{
  opacity: 0.3; 
}


@media screen and (max-width: 560px) {
  .offer {
    padding: 92px 0;
  }
}


@media screen and (max-width: 320px) {
  .offer {
    padding: 46px 0;
  }
}
