.footer__author {
  margin: 0;
  padding: 92px 0 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width: 768px) {
  .footer__author {
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .footer__author {
    padding-top: 64px;
    line-height: 1;
  }
}